/* shared places */


mainx{
    
}

.btn-primary {
    background-color: #006A50;
    font-weight: 600;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
}





.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.bh {
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E ;

}
.bh1 {
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
letter-spacing: 0%;
margin: 15px 0;
line-height: 1.2 ;
text-align: left;

}
.banner{
    display: flex;
    justify-content:space-between;
flex-direction: row;
align-items: center;
justify-content: center;

gap: 64;
padding: 80px 100px 80px 100px;
margin: 120px 160px;
background-color: #C6E4D6;
border-radius: 24px;
}
/* the vision of future */

.container{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.dta{
    background-color: #5490F5;
    border-radius: 16px;
    width: 410.67px;
height: 325px;
padding: 32px;
}
.btn-pri {
background-color: #5490F5;
font-size: 16px;
font-weight: 600;
color: white;
padding: 11px 20px;
border-radius: 8px;

}
.dtay {
    background-color:#5490F5;
    margin: 32px;
}
.dtax{
    background-color: #C6E4D6;
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
    padding: 32px;
    }
.dtyaz{
    margin: 32px;
}
.btn-prim{
    background-color: #09A15C;
font-size: 16px;
font-weight: 600;
color: white;
padding: 11px 20px;
border-radius: 8px;
margin-top: 48px;

}
.dtyy{
    background-color:#F7EBCF;
    
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
    padding: 32px;
}
.btn-primx{
    background-color: #FFC239;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 11px 20px;
    border-radius: 8px;
    margin-top: 48px;
}

.skills{
    ;
}